<div class="ui centered card" id="login-card">
  <div class="content">
    <h1 class="center-flex">login</h1>
    <form class="ui form">
      <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="username" />
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="password" />
      </div>
      <button class="ui button" type="submit">login</button>
      <a routerLink="/login/new-user">
        <button class="ui secondary button">sign up</button>
      </a>
    </form>

    <div class="end-flex">
      <a routerLink="/login/forget-password">forget your password?</a>
    </div>
  </div>
</div>
