<div class="ui centered card" id="login-card">
  <div class="content">
    <h1 class="center-flex">Forget your password?</h1>
    <form class="ui form">
      <div class="field">
        <label>Email</label>
        <input type="text" name="email" placeholder="email" />
      </div>
      <button class="ui button" type="submit">submit</button>
    </form>

    <div class="end-flex">
      <a routerLink="/login/new-user">New Account?</a>
    </div>
  </div>
</div>
