<div class="ui centered card" id="login-card">
  <div class="content">
    <h1 class="center-flex">signup</h1>
    <form class="ui form">
      <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="username" />
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="password" />
      </div>
      <div class="field">
        <label>Confirm password</label>
        <input type="password" name="confirm-password" placeholder="please enter again" />
      </div>
      <button class="ui button" type="submit">signup</button>
    </form>

    <div class="end-flex">
      alredy have an account?
      <a routerLink="/login"> login</a>
    </div>
  </div>
</div>
