<div class="ui segment">
  <div class="ui stackable grid">
    <div class="row black" id="nav-items">
      <div class="left floated two wide column" id="nav-column">
        <div class="ui compact inverted text menu bordered-nav-item">
          <div class="ui simple dropdown item">
            Account
            <i class="dropdown icon"></i>
            <div class="menu" id="account-lists-menu">
              <div class="ui two column relaxed equal height divided grid">
                <div class="column">
                  <h4 class="ui header">Your Account</h4>
                  <div class="ui link list">
                    <a routerLink="/login" class="item">SIGN IN</a>
                    <a routerLink="/login/new-user" class="item">SIGN UP</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
