#nav-items {
  padding: 0 !important;
}
#nav-items #nav-column {
  display: flex;
  align-items: flex-end;
}
#nav-items #nav-column .bordered-nav-item:hover {
  border-color: #ffffff8c;
  border-width: thin;
  border-style: solid solid none solid;
}
#nav-items #nav-column .bordered-nav-item #account-lists-menu {
  width: max-content;
  padding: 15%;
}
#nav-items #nav-column .bordered-nav-item #cart-ref {
  text-decoration: none;
}
#nav-items #nav-column .bordered-nav-item #cart-ref #cart-label:before {
  content: "(";
}
#nav-items #nav-column .bordered-nav-item #cart-ref #cart-label:after {
  content: ")";
}
